html, body {
    height: 100%;
    padding: 0;
    margin: 0;

}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 0 -60px;
    padding: 0 0 60px;
    background-color: rgba(220,220,220,1);
    overflow: hidden;
    min-width: 1000px;
    font-family: PragmataPro;
}

.wrap > .container {
    min-height: 100%;
    padding: 70px 3% 60px;
}
.header {
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,1);
    position: relative;
    display: table;
    color: white;
}

.header > .menu {
    display: table-cell;
    width: calc(100% - 400px);
    height: 100%;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.menu > ul li{
    cursor: pointer;
    display : inline-block;
    border: 1px solid black;
    padding: 5px 15px 8px;
    font-size: 16px;
    color: white;
}
.menu > ul .active{
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    color: black;
}
.header > .logo{
    width: 200px;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header > .user {
    width: 200px;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/*@media screen and (max-width: 1000px) {*/
    /*.header{*/
        /*background-color: #00aa00;*/
    /*}*/
/*}*/
#promote_material{
    display: none;
    position: relative;
    width: 100%;
    background-color: rgba(100,100,100,1);
    overflow: hidden;
}
#promote_material:before {
    content: '';
    display: inline-block;
    padding-top: 52%;
}
#promote_material > .header{
    width: 100%;
    height: 70px;
    background-color: rgba(50,50,50,1);
    position: absolute;
    top: 0;
}
#promote_material > .main{
    width: 80%;
    height: 100%;
    padding: 2% 10% 0;
    position: absolute;
    top: 70px;
}
#promote_material > .main > .box{
    margin-right: 5%;
    margin-bottom: 3%;
}
#promote_material > .main > .box:nth-child(3n+3){
    margin-right: 0;
}

#reports{
    display: none;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(150,100,100,1);
    overflow: hidden;
}
#reports > .box{
    width: calc(100%/6);
    height: 100%;
}
#reports > .box:hover{
    background-color: rgba(100,200,15,0.5);
}

.content {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer {
    height: 60px;
    background-color: rgba(200,200,200,1);
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


.box{
    width: 10%;
    float: left;
    overflow: hidden;
    position: relative;
    background-color:  yellow;
}
.box:before {
    content: '';
    display: inline-block;
    padding-top: 100%;
}
.info-container > hr.separator {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 34%;
    border: 1px solid grey;
    margin: 0;
}
.info-container > div.separator{
    position: absolute;
    text-align: center;
    display: inline-block;
    left: 0;
    top:0;
    height: 100%;
    width: 34%;
    border-right: 1px solid grey;
}
.info-block {
    top: 8%;
    border-radius: 4px;
    width: 27%;
}
.info-block:nth-child(1) {
    width: 26%;
    bottom: 8%;
    left: 4%;
}
.info-block:nth-child(2) {
    bottom: 25%;
    left: 38%;
}
.info-block:nth-child(3) {
    bottom: 25%;
    left: 69%;
}

.info-block:hover{

    border: 1px solid black;
}
.info-block > .content:nth-child(1) {
    top: 10%;
}
.info-block > .content:nth-child(2) {
    font-size: 26px;
    top: 40%;
}
.info-block > .content:nth-child(3) {
    top: 70%;
}

.info-selection {
    cursor: pointer;
    font-size: 18px;
    width: 66%;
    bottom: 0;
    top: auto;
    right: 0;
    left: auto;
    background-color: coral;
}
.info-selection > .active{
    cursor: default;
    background-color: greenyellow;
    color: #0000cc;
}
.info-selection > div{
    padding: 8px 0 10px;
    width: calc((75%/2) - 1px);
    float: left;
    border-right: 1px solid black;
}
.info-selection > div:nth-child(1) {
    width: 25%;
}
.info-selection > div:nth-child(2) {
    width: 40%;
}
.info-selection > div:nth-child(3) {
    width: calc(35% - 2px);
    border-right: 0;
}



.percent-container{

}
.percent-container > hr.separator{
    position:absolute;
    top:40%;
    border:1px solid blue;
    width:150%;
    height:100%;
    -moz-transform:rotate(-35deg); /* Для Firefox */
    -ms-transform: rotate(-35deg); /* Для IE */
    -webkit-transform: rotate(-35deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-35deg); /* Для Opera */
    transform: rotate(-35deg);
}


.title{
    white-space: nowrap;
}

.filter{
    white-space: nowrap;
    padding: 0;
    margin: 0;
    display: inline-block;

}
.filter > li {
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    padding: 5px 15px 8px;
}
.filter > li:nth-child(1) {
    margin-left: 20px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.filter > li:nth-child(n+2) {
    border-left: 0;
}
.filter > li:nth-last-child(1) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.filter > .active{
    background-color: black;
    border-color: black;
    color: white;
}

.button {
    border-radius: 30px;
    border: 1px solid black;
    display: inline-block;
    padding: 6px 20px 10px;
}





.table{
    width: 100%;
    text-align: left;
    background-color: white;
}
.table td, th{
    padding: 10px;
}
.js-table > tbody tr{
    cursor: pointer;
}

.pagination{
    padding: 0;
    display: inline-block;
}
.pagination li {
    display: table-cell;
    border: 1px solid black;
}
.pagination li:nth-child(n+2) {
    border-left: 0;
}
.pagination  a, span{
    color: #0000aa;
    background-color: lightgrey;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
}
.pagination > .disabled{
    cursor: not-allowed;
}
.pagination > .active a{
    color: white;
    background-color: #00b3ee;
}
.buyer{
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#filter-buyer{
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
#filter-buyer:after{
    content: '';
    position: absolute;
    right: 40%; top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid black;
}


.list {
    overflow: hidden;
    background-color: lightgrey;
    padding: 0;
    margin: 0;
    width: 200px;
    list-style-type: none;
    font-size: 18px;
}
.list  a {

    padding: 5px 10px;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: blue;
    text-decoration: none;
}

.list a:hover{
    color: black;
    background-color: #00b3ee;
}
.list .active{
    background-color: yellow;
}


.qwe{
    background-color:#778899;border-bottom: 1px solid black;
}
.round {
    width: 40px;
    height: 40px;
    background: #e3e3e3;
    border: 2px solid blue;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: blue;
    border-radius: 40px;
}








.fl{
    float: left;
}
.tp80{
    top:80%;
}
.wp100{
    width: 100%;
}
.wp60{
    width: 60%;
}
.wp55{
    width: 55%;
}
.wp50{
    width: 50%;
}
.wp47{
    width: 47%;
}
.wp40{
    width: 40%;
}
.wp30{
    width: 30%;
}
.wp25{
    width: 25%;
}
.hp20{
    height: 20%;
}
.plr3 {
    padding-left: 3%;
    padding-right: 3%;
}
.ptb100:before{
    padding-top: 100%;
}
.ptb90:before{
    padding-top: 90%;
}
.ptb80:before{
    padding-top: 80%;
}
.ptb60:before{
    padding-top: 60%;
}
.ptb50:before{
    padding-top: 50%;
}
.ptb45:before{
    padding-top: 45%;
}
.ptb40:before{
    padding-top: 40%;
}
.ptb0:before{
    padding-top: 0;
}

.mr10{
    margin-right: 10%;
}
.mr6{
    margin-right: 6%;
}
.mr3{
    margin-right: 3%;
}
.mb6{
    margin-bottom: 6%;
}
.mb5{
    margin-bottom: 5%;
}
.mt30px{
     margin-top: 30px;
 }
.mb10px{
    margin-bottom: 10px;
}
.p10x40x15px{
    padding: 10px 40px 15px;
}